@font-face {
  font-family: 'Futura';
  font-style: normal;
  font-weight: 100;
  font-display swap
  src: url('../fonts/FuturaPT-Light.woff');
}
@font-face {
  font-family: 'Futura';
  font-style: normal;
  font-weight: 300;
  font-display swap
  src: url('../fonts/FuturaPT-Book.woff');
}
@font-face {
  font-family: 'Futura';
  font-style: normal;
  font-weight: 500;
  font-display swap
  src: url('../fonts/FuturaPT-Medium.woff');
}


@font-face {
    font-family: 'Roboto';
    font-weight: 900;
    font-style: italic;
    src: url('../fonts/Roboto-BlackItalic.woff');
}

@font-face {
    font-family: 'Roboto';
    font-weight: 300;
    font-style: normal;
    src: url('../fonts/Roboto-Light.woff');
}

@font-face {
    font-family: 'Roboto';
    font-weight: 500;
    font-style: normal;
    src: url('../fonts/Roboto-Medium.woff');
}
