.movie-content
  display flex
  flex-direction column
  width 100%
  margin-top 30px
  .movie-info
    display flex
    align-items flex-end
    height 600px
    width 100%
    background-image url(../img/Ad-Astra-poster.jpg)
    background-size 100% 100%
    margin-bottom 30px
    .movie-description
      width 100%
      padding 20px
      background-color rgba(0%, 0%, 0%, 0.5);
      .movie-rating-wrap
        display flex
        flex-direction row
        align-items center
        .movie-rating
          display flex
          width 70px
          height 70px
          border-radius 50%
          background-color white
          div
            margin auto
            color orange
            font-size 26px
            font-weight bold
        .tags
          display inline-block
          margin-left 15px
          margin-top 20px
          margin-bottom 20px
          a 
            padding 5px 10px
            margin-right 10px
            background-color #f39c11
            border-radius 6px
            color black
  .movie-pleyer
    width 100%
    height 650px
    .btn-wrap
      display flex
      justify-content space-between
      margin-top 20px
      .btn
        padding 5px 10px
        background-color #f39c11
        border-radius 6px
        color black
        border none
        
    
    
