.movie-content
  display flex
  flex-direction column
  width 100%
  margin-top 30px
  .movie-info
    display flex
    align-items flex-end
    height 600px
    width 100%
    background-image url(../img/Ad-Astra-poster.jpg)
    background-size 100% 100%
    margin-bottom 30px
    @media (max-width: 768px)
      background-size 100%
      background-repeat no-repeat
    .movie-description
      width 100%
      padding 20px
      background-color rgba(0%, 0%, 0%, 0.5);
      @media (max-width: 768px)
        font-size 14px
        line-height 18px
      .movie-rating-wrap
        display flex
        flex-direction row
        align-items center
        @media (max-width: 768px)
          flex-direction column
        .movie-rating
          display flex
          width 70px
          height 70px
          border-radius 50%
          background-color white
          div
            margin auto
            color orange
            font-size 26px
            font-weight bold
        .tags
          display inline-block
          margin-left 15px
          margin-top 20px
          margin-bottom 20px
          // @media (max-width: 768px)
          @media (max-width: 1160px)
            display flex
            flex-wrap wrap
            justify-content center
          a 
            padding 5px 10px
            margin-right 10px
            background-color #f39c11
            border-radius 6px
            color black
            // @media (max-width: 768px)
            @media (max-width: 1160px)
              margin-top 5px
  .movie-pleyer
    width 100%
    // height 650px
    .btn-wrap
      display flex
      justify-content space-between
      margin-top 20px
      .btn
        width 150px
        padding 5px 10px
        background-color #f39c11
        border-radius 6px
        color black
        border none
        font-size 18px
        font-weight 600
        @media (max-width: 768px)
          width 100px


    
    
