.sidebar
  width 20%
  margin-right 30px
  margin-top 30px
  @media (max-width: 768px)
    display none
    flex-direction column
    position fixed
    z-index 99
    width 100%
    height 100vh
    background-color #1e252b
    font-size 16px
    line-height 7px
  .categories-list
    list-style none
    margin 0
    padding 0
    padding-left 10px
    .categories-item
      padding-top 10px
      padding-bottom 5px
      cursor pointer
.sidebar-active
  display flex
  flex-direction column

