.sidebar
	width 20%
	margin-right 30px
	margin-top 30px
	// @media (max-width: 768px)
	// 	display none
	.categories-list
		list-style none
		margin 0
		padding 0
		padding-left 10px
		.categories-item
			padding-top 10px
			padding-bottom 5px

